@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --my-blue: rgb(95, 204, 255);
    --my-orange: rgb(255, 180, 67);
}

div.artistName {
    font-family: 'Bebas Neue', cursive;
}

h1.title {
    font-family: 'Caveat', cursive;
    background-color: var(--my-orange);
    margin: 0px;
    padding: 10px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.vertical-bar-chart-container {
    padding: 20px 0px 20px 0px;
    overflow: scroll;
    background-color: rgb(53, 53, 53);
}

.vertical-bar-chart {
    display: flex;
    flex-direction: row;
}

.vertical-bar-spacer-item {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.vertical-bar-item {
    margin: 1px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    height: 180px;
}

.vertical-bar-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    width: 25px;
    height: 25px;
}

.vertical-bar {
    box-sizing: border-box;
    background-color: var(--my-blue);/*rgb(72, 197, 255);*/
    flex-shrink: 0;
    flex-grow: 0;
    width: 90%;
    border: 1px solid var(--my-blue);
    border-radius: 4px;
}

.vertical-bar-label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 50px;
}

.vertical-bar-label {
    margin: 0px;
    padding: 0px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: rgb(180, 180, 180);
}